/*
 * @Author: yangxb 
 * @Date: 2018-12-19 11:13:42 
 * @Last Modified by: yangxb
 * @Last Modified time: 2018-12-21 17:21:13
 */
.pro_img {
  width: 60px;
  height: 90px;
  float: left;
  margin-right: 10px;
}
.pro_title {
  color: #000;
}
.price {
  color: #f00;
}
.oldPrice {
  text-decoration: line-through;
}
.mui-table-cell {
  display: block;
}