/*
 * @Author: yangxb 
 * @Date: 2018-12-20 15:10:06 
 * @Last Modified by: yangxb
 * @Last Modified time: 2018-12-20 15:59:42
 */
 /* 搜索框 */
.search {
  padding: 10px;
  position: relative;
}
.search .search_input {
  height: 34px;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid #007aff;
  margin: 0;
}
.search .search_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 0 5px 5px 0;
}
/* 历史记录 */
.history {
  padding: 10px;
  font-size: 12px;
  color: #666;
}
.history .title {
  height: 30px;
  line-height: 30px;
}
.history .content ul {
  border: 1px dashed #f00;
}
.history .content li {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px dashed #f00;
}
.history .content li:last-child {
  border-bottom: none;
}
.history .content a {
  padding: 0 10px;
}
.history .content i {
  line-height: 30px;
}
